body {
    margin: 0px;
    height: 100vh;
}
canvas {
    display: block;
}



  
  /* Clear floats after the columns */
  .row {
    display: flex;
    height: 50%;
  }
  .column {
    flex: 1;
    padding: 20px;
  }