/* Styling for the full-screen div */
.contentDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f780;
    display: block;
}

.retry {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.infobox {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    border-radius: 5px;
    max-width: 400px;
    width: auto;
    height: auto;
    text-align: left;
    align-items: center;
    padding: 10px;
    background-color: #dce4fa;
    cursor:pointer;
    box-shadow:  3px 3px 6px #262c3e;
    margin: 10px;
}
.infobox:hover{
    background-color: #1e1e1e7a;
    transition:0.5s;
}